/* ---> Stilizare pentru pagina principala <--- */

.titlu_pagina_principala {
   font-family: "Showcard Gothic", Arial, sans-serif;
   font-size: 50px;
   text-align: center;}

.tabel_pagina_principala {
   width: 100%;
   height: 50px;
   border-collapse: collapse;
   background-color:#f2f2f2;}
   
/* th (tabel header) pentru tabel pagina principala (celula aia mare si lunga) */
.th_pagina_principala { 
   border: 2px solid red;
   padding: 3px;
   text-align: center;
   background-image: url('imagini/imagine18.jpg');}
.th_pagina_principala:hover {background-color: #d1e0e0;}
   
/* td (table data) pentru tabel pagina principala */
.td_pagina_principala {
   border: 2px solid black;
   border-color: blue;
   padding: 3px;
   text-align: center;}
.td_pagina_principala:hover {background-color: #d1e0e0;}
   
/* casuta cu imagine la tabelul din pagina principala */
.imagine_td_pagina_principala {
   border: 2px solid black;
   border-collapse: collapse;
   border-color: gold;
   padding: 3px;
   text-align: center;
   background-image: url('imagini/imagine17.png');
   background-size: cover;}

.imagine_pagina_principala {
   border: 2px solid black;
   border-radius: 8px;
   width: 500px;
   height: 300px;}
   

/* ---> Stilizare pentru paginile secundare (mai include si elemente folosite in restul paginilor - universale) <--- */

.subtitlu1 {
   font-family: Algerian, Arial, sans-serif; 
   font-size: 25px;
   text-align: center;}
   
.subtitlu2 {
   font-family: "Bookman Old Style", Arial, sans-serif;
   text-indent: 60px;
   color: darkgreen; 
   font-size: 20px;}
   
/* folosit la paginile "Despre Sah" (pag1 si 2) */
.subtitlu3 {
   text-indent: 35px;
   font-size: 24px;}
   
.paragraf {text-indent: 35px;}

/* fundalul principal, cel din spate */
.fundal1 {
   margin: 0;
   padding: 0;
   background-image: url('imagini/imagine5.jpg');
   background-size: contain;
   background-attachment: fixed;}
   
/* fundalul secundar, cel din fata */
.fundal2 {
   max-width: 1000px;
   margin: 12px auto;
   padding: 20px;
   background-color: rgba(128, 128, 128, 0.95);
   border: 4px solid rgb(139, 69, 19); /* marginea fundal2 */
   border-radius: 8px; /* colturi rotunjite */
   box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.3);} /* umbra fundal2 */

.titlu_pagina_secundara {
   font-family: "Showcard Gothic", Arial, sans-serif;
   font-size: 40px;
   text-align: center;}

/* butonul care te duce la pagina principala */
.tabel_buton_inapoi {
   width: 30%;
   height: 50px;
   border-collapse: collapse;
   background-color: #ffffff;}
   
/* th pentru butonul care te duce la pagina principala */
.th_buton_inapoi {
   border: 2px solid black;
   border-collapse: collapse;
   padding: 3px;
   vertical-align: middle;
   text-align: center;}
.th_buton_inapoi:hover {background-color: #d1e0e0;}
   
.imagine_mutare_piesa_sah1 {
   border: 2px solid black;
   border-radius: 8px;
   width: 200px;
   height: 250px;}
.imagine_mutare_piesa_sah1:hover {
   transform: scale(1.1); /* mareste imaginea cu 10% atunci cand mouse-ul este deasupra ei */
   box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.5);} /* efectul de evidentiere a imaginii cand mouse-ul este deasupra ei */
   
.imagine_mutare_piesa_sah2 {
   border: 2px solid black;
   border-radius: 8px;
   width: 200px;
   height: 250px;}
   
.imagine_competitie_esports {
   margin-left: 54px;
   border: 2px solid black;
   border-radius: 8px;
   width: 100px;
   height: 80px;}

.titlu_competitie_esports {
   font-family: "Arial Rounded MT Bold", Arial, sans-serif;
   margin-left: 25px;
   font-size: 20px;}

/* un mic ajutator pentru tag-ul div la pagina "Despre Sah" */
.div_ajutator {
   text-indent: 35px;
   text-decoration: underline;
   font-style: italic;
   font-family: "Segoe UI", Arial, sans-serif;} 

/* listele 1-4 sunt folosite la pagina "Istoria Sahului" */
.lista1 {
   list-style-image: url('imagini/imagine13.png');
   padding-left: 20px;}

.lista2 {
   list-style-image: url('imagini/imagine14.jpg');
   padding-left: 20px;}

.lista3 {
   list-style-image: url('imagini/imagine15.jpg');
   padding-left: 20px;}

.lista4 {
   list-style-image: url('imagini/imagine16.jpg');
   padding-left: 20px;}

/* aceste 3 link-uri (pozitionate diferit pe pagina respectiva) te trimit la inceputul paginii */   
.link_pagina_sus_centru {text-align: center;}
.link_pagina_sus_stanga {text-align: left;}
.link_pagina_sus_dreapta {text-align: right;}

/* stilizare pentru link-uri */
.link {
   color: blue;
   text-decoration: none;}
.link:hover {
   color: red;
   text-decoration: underline;}
.link:visited {color: purple;}
.link:hover:visited {
   color: red;
   text-decoration: underline;}
.link:active {color: orange;}
.link:active:hover {color: orange;}

/* stilizare lista de la pagina "Despre Sah" */
.lista_despre_sah {
	margin-bottom: 18px;}

blockquote {font-style: italic;}


/* ---> Stilizare pentru paginile Login si Register <--- */

/* formular pentru pagina login/register */
.formular_login_register {
   max-width: 600px;
   margin: 0 auto;
   padding: 20px;
   border: 1px solid #ddd;
   border-radius: 8px;
   background-color: #f9f9f9;}
   
/* label pentru pagina login/register */
.label_login_register {
   display: block;
   margin-bottom: 8px;
   font-weight: bold;}

/* input text si select pentru pagina login/register */
.input_login_register, .select_login_register {
   width: 100%; 
   padding: 8px;
   margin-bottom: 12px;
   border: 1px solid #ccc;
   border-radius: 4px;}

/*buton trimitere formular pentru pagina login/register */
.buton_login_register {
   background-color: #4CAF50;
   color: white;
   padding: 10px 20px;
   border: none;
   border-radius: 4px;
   cursor: pointer;}  
.buton_login_register:hover {background-color: #45a049;}

/* fundal pentru pagina login/register */
.body_login_register {
   margin: 0;
   height: 100vh;
   background-image: url("imagini/imagine6.jpg");
   background-size: cover;
   background-position: center;
   background-repeat: no-repeat;}
   
/* butoanele radio (stilizarea folosind selectorul clasa) */
.radio_label {
   display: inline-flex;
   align-items: center;
   margin-right: 15px;}
   
/* butoanele radio (stilizarea folosind selectorul id)*/
#termeni_si_conditii {
   display: inline-flex;
   align-items: center;
   margin-right: 15px;}

.buton_reset {
   background-image: url('imagini/imagine21.png');
   border: 1px solid black;
   background-size: cover;
   width: 50px;
   height: 50px;}

/* imagine fixa (stanga sus) */
.imagine_login_register {
   border: 2px solid black;
   border-radius: 8px;
   width: 25px;
   height: 25px;
   position: fixed;}